---
import Card from "../../components/Card.astro";
import ListCard from "../../components/ListCard.astro";
import SocialList from "../../components/SocialList.astro";
import Layout from "../../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

changeLanguage("en");

console.log(i18next.language === "en" ? undefined : "uk");
---

<Layout title={t("site.title")}>
  <main class="container mx-auto px-4">
    <ListCard title={t("pages.index_modules")}>
      <Card
        title={t("pages.index_modules_dft")}
        description={t("pages.index_modules_dft_desc")}
        route={localizePath("/modules/dft")}
      />
    </ListCard>

    
    {
        i18next.language === 'en' ? undefined :
        <ListCard title={t("pages.index_adventures")}>
          <Card
            title={t("systems.pf2e")}
            route={localizePath("/adventures/pf2e")}
          />
        </ListCard>
    }

    <SocialList />
  </main>
</Layout>
